* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 



body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0088cc;
  padding: 15px 20px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffcc00;
}

.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* Responsive - for mobile */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #0088cc;
    flex-direction: column;
    width: 200px;
    padding: 15px;
    border-radius: 5px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }
}



 /* Dark mode styles */
    body.dark-mode {
      background-color: #e75252;
      color: #f1f1f1;
    }
    .navbar.dark-mode {
      background: #0f0e0e;
    }
    .nav-links.dark-mode li a {
      color: #f1f1f1;
    }
    .dark-toggle {
      cursor: pointer;
      background: #020101;
      color: #838181;
      /* border: none; */
     
      border-radius: 100%;
      margin-left: 10px; 
      font-size: 20px;
      padding: 5px 4px;
      
      /* transition: background 0.3s, color 0.3s; */
    }

    /* CSS-only dark mode toggle */
    #dark-toggle-checkbox {
      display: none;
    }
    #dark-toggle-checkbox:checked ~ nav,
    #dark-toggle-checkbox:checked ~ nav .navbar {
      background: #9c1919;
    }
    #dark-toggle-checkbox:checked ~ nav .nav-links li a {
      color: #f1f1f1;
    }
    #dark-toggle-checkbox:checked ~nav,
    #dark-toggle-checkbox:checked ~ body {
      background-color: #52573e;
      color: #f1f1f1;
    }
    #dark-toggle-checkbox:checked  .dark-toggle {
      background: #fff;
      color: #b90f0f;
    }
















